@import "bootstrap/styles";
@import "horizon/styles";

#sidebar {
  .openstack-panel-group {
    text-align: left;
  }
}

.navbar-inverse {
  background: linear-gradient(0deg, rgb(29, 88, 125) 0%, rgb(59, 76, 100) 100%);
}

.breadcrumb {
  background-color: #e7f1ee;
}

.btn-danger {
  background-color: #c7162b !important;
  border-color: #c7162b !important;
  color: white !important
}

.btn-danger:hover {
  background-color: #b01326 !important;
  border-color: #b01326 !important;
  color: white !important
}

.btn-primary {
  background-color: #e73594 !important;
  border-color: #e73594 !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: #e73594 !important;
  border-color: #e73594 !important;
  color: white !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}



// .btn-default{
//   background-color: #e73594 !important;
//   border-color: #e73594 !important;
//   color: white !important;
// }

// .btn-default:hover{
//   background-color: #e73594 !important;
//   border-color: #e73594 !important;
//   color: white !important;
//   box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
// }
// .btn-default:active{
//   background-color: #e73594 !important;
//   border-color: #e73594 !important;
//   color: white !important;
//   box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
// }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a7aaa9;
  border-radius: 1px;
  border-bottom: 1px solid #b0bbb8;
  border-top: 1px solid #b0bbb8;
}