.datepicker-delimiter {
  @extend .mdi;
  @extend .mdi-arrow-right;
  padding-right: $padding-base-horizontal;

  &:before {
    content: "\F054";
  }

  &-text {
    display: none;
  }
}
.datepicker table tr td.active.active {
  background-color: #06c;

  &:hover{
    background-color: #06c;
  }
}
