{% load i18n %}
{% load themes %}

<script>
  $(document).ready(function() {

    horizon.addInitFunction(function() {

      $(document).on('click', '.theme-picker-item', function(e) {
        var $this = $(this);

        // prevent the default <a> click handler from firing - on
        // Chrome it confuses the reload() we do below
        e.preventDefault();

        if($this.hasClass('disabled')) {
          e.stopPropagation();
          return;
        }

        var CookieDate = new Date;
        CookieDate.setFullYear(CookieDate.getFullYear( ) +10);

        document.cookie = '{{ theme_cookie }}=' + $this.data('theme') + '; path=/; expires=' + CookieDate.toGMTString( ) + ';';
        document.location.reload();
      });
    });
  });
</script>